


h1{
    text-Align:center;
     color: rgb(60, 184, 151);
      font-Family:time new roman;
}
h4{
    text-Align:center;
    letter-spacing: 1px;
    word-spacing: 2px;
    font-family: fantasy;
    color: rgb(216, 165, 98);

}
img{
    border:1px double;
    border-color: rgb(192, 26, 109);
    border-radius: 20PX;
margin-Left: "27%";
 width:"50%";
}
button{
    color: rgb(8, 4, 64);
    background-color: rgb(122, 167, 195);
    border: none;
    border-radius: 50%;
    height: 50px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-left: auto;
    margin-right: auto;
}

.but{
    display: flex;
    justify-content: center;
}